<div class="header">
  <h3 class="text-muted">SaaS Cash Planner</h3>
</div>
<nvd3-line-chart
height="450"
data="chartData"
showXAxis="true"
showYAxis="true"
tooltips="true"
showLegend="true"
x="xFunction()"
y="yFunction()"
interactive="true"
useInteractiveGuideLine="true"
isArea="true"
margin="{left:75,top:50,bottom:50,right:50}"
xAxisLabel="Time (in months)"
yAxisLabel="Cashflow (€)"
xAxisTickValues="[12, 24, 36, 48]"
yAxisTickFormat="yAxisTickFormatFunction()"
noData="Press 'Update Chart' for an updated simulation.">
<svg></svg>
</nvd3-line-chart>
<form class="form-horizontal" data-ng-submit="doSimulation()">
  <div class="form-group">
    <label class="col-sm-4 control-label" for="numberOfNewCustomers">Number of new Customers per Month</label>
    <div class="col-sm-4">
      <input type="number" class="form-control" data-ng-model="simulation.numberOfNewCustomers" id="numberOfNewCustomers" placeholder="8" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="salesCost">Monthly Sales & Marketing Cost</label>
    <div class="col-sm-4 input-group">
      <input type="number" class="form-control" data-ng-model="simulation.salesCost" id="salesCost" placeholder="1000" required>
      <span class="input-group-addon">€</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="monthlyFee">Monthly Fee</label>
    <div class="col-sm-4 input-group">
      <input type="number" class="form-control" data-ng-model="simulation.monthlyFee" id="monthlyFee" placeholder="25" required>
      <span class="input-group-addon">€</span>
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-4 control-label" for="monthlyChurn">Monthly Churn Rate</label>
    <div class="col-sm-4 input-group">
      <input type="number" class="form-control" data-ng-model="simulation.monthlyChurn" id="monthlyChurn" placeholder="1" required>
      <span class="input-group-addon">%</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3 col-sm-offset-5">
      <input type="submit" class="btn btn-primary form-control" value="Simulate">
    </div>
  </div>
</form>
<h4>Previous Simulations</h4>
<table class="table table-striped table-bordered">
  <thead><tr>
    <th><a ng-click="plotSelected()" class="btn btn-default btn-xs">Show Selected</a></th>
    <th></th>
    <th></th>
    <th>Monthly New Leads</th>
    <th>Sales&Mrkt Costs</th>
    <th>Monthly Fee</th>
    <th>Monthly Churn Rate</th>
    <th>CAC</th>
    <th>LTV</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="sim in simulations">
      <td><input type="checkbox" data-ng-model="sim.isChecked"></td>
      <td><a ng-click="showSimulation(sim)" class="btn btn-default btn-xs">Show</a></td>
      <td>{{sim.name}}</td>
      <td>{{sim.numberOfNewCustomers}}</td>
      <td>{{sim.salesCost}}</td>
      <td>{{sim.monthlyFee}}</td>
      <td>{{sim.monthlyChurn}}</td>
      <td>{{sim.CAC}}</td>
      <td>{{sim.LTV}}</td>
    </tr>
  </tbody>
</table>
<div class="footer">
  <p>By <a href="http://www.sirris.be">Sirris</a> and the <a href="http://www.nebucom.be">Nebucom</a> team.</p>
</div>